<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>欢迎登录</title>
    <link rel="stylesheet" type="text/css" href="../styles/login.css" />
    <script src="../../scripts/electrondemo.login.js"></script>
    <!--<script src="../scripts/localFileOperation.js"></script></!-->
    <script type="text/javascript">
        function startLogin() {
            //var user = document.getElementById("userIn").value;
            //var password = document.getElementById("passwordIn").value;
            //alert("开始登录: " + user + "---" + password);
            doLogin(1, 2);
            //writeLogFile("login, user: " + user);
        }

        function doAbout() {
            alert("打开关于弹出窗口");

        }

        function doRegister() {
            alert("打开注册页面");

        }
    </script>
</head>

<body>
    <div class="body "></div>
    <div class="grad "></div>
    <div class="header ">
        <div>Electron<span>Demo</span></div>
    </div>
    <br>
    <div class="login ">
        <image id="icon" src="" /><br>
        <input id="userIn" type="text" placeholder="username" name="user"><br>
        <input id="passwordIn" type="password" placeholder="password " name="password"><br>
        <input type="button" value="登录" onclick="startLogin()">
        <input type="aboutbutton" value="关于" onclick="doAbout()">
        <input type="aboutbutton" value="注册" onclick="doRegister()">
    </div>
</body>

</html>